<head><%- include('partials/head.ejs', { pageHeading }) %></head>
<body>
  <header>
    <%- include('partials/heading-1.ejs', { pageHeading }) %>
    <%- include('partials/navigation-bar.ejs') %>
  </header>
  <main>
      <p>Hello <%= user.displayName %></p>
      <a href=<%= logout %>>Logout</a>
  </main>
  <footer><%- include('partials/copyright-notice.ejs') %></footer>
</body>