<head><%- include('partials/head.ejs', { heading }) %></head>
<body>
  <header><%- include('partials/header.ejs', { heading }) %></header>
  <main>
    <% if (!user) { %>
      <a href=<%= login %>>Log in with Steam</a>
    <% }  else { %>
      <p>Hello <%= user.displayName %></p>
      <a href=<%= logout %>>Logout</a>
    <% } %>
  </main>
  <footer><%- include('partials/footer.ejs') %></footer>
</body>