<head><%- include('partials/head.ejs', { pageHeading }) %></head>
<body>
  <header>
    <%- include('partials/heading-1.ejs', { pageHeading }) %>
    <%- include('partials/navigation-bar.ejs') %>
  </header>
  <main>
      <a href="/lists/new/edit">Create new list</a>
      <% lists.forEach((list) => { %>
        <%= list %>
      <% }); %>
  </main>
  <footer><%- include('partials/copyright-notice.ejs') %></footer>
</body>